
.contact-section {
    padding: 50px 0;
    flex: 1; /* Allows content to expand and push footer to bottom */
    margin-top: 5%;
}
.contact-info {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 30px;
}
.contact-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 30px;
}

.submit-button {
    background-color: var(--primary-color);
}

.submit-button:hover {
    background-color: #d45f5f;
}

footer {
    margin-top: auto;
}


