:root {
    --primary-color: #FF6B6B;     /* Bright coral red */
    --secondary-color: #4ECDC4;   /* Teal green */
    --background-color: #F7FFF7;  /* Very light mint green */
    --text-color: #333;           /* Dark gray for text */
    --white-text-color: #fff;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    font-family: Karla;
    min-height: 100vh;
}


/* Shadow Classes */
/* --------------------------------------------------------------------- */
.dropshadow{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, .5));
    border-radius: 50px;
}
.dropshadow:hover{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, 0));
}
.dropshadow2{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, .5));
    border-radius: 30px;
}
.dropshadow2:hover{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, 0));
}
.dropshadow3{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, .5));
    border-radius: 20px;
}
.dropshadow3:hover{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, 0));
}
/* --------------------------------------------------------------------- */

