/* Restaurant card styling */
.restaurant-card {
    transition: transform 0.3s ease;
    height: 100%;
    border: none;
}

.restaurant-card:hover {
    transform: scale(1.05);
}

/* How it works section icons */
.step-icon {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
    z-index: 1;
}

/* Hero Section Carousel Styles */
.hero-carousel {
    position: relative;
    height: 700px;
    /* overflow: hidden; */
}

.carousel-item {
    height: 700px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 15px;
}


@media (min-width: 992.1px) {
    .search-container {
        width:80%;
        height:100px;
        display: flex;
        
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    
        z-index: 10;
        border-radius: 50px;
        max-width: 600px;
        min-width: 50px;
        }


    .search-container input {
        border: none;
        border-radius: 50px 0 0 50px;
    }

    .search-container button {
        background-color: var(--primary-color);
        border: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;;
        cursor: pointer;
        height: 100px;
    }
    
    .search-container button:hover{
        background-color:#d45f5f;
        border: none;
    }
    
    .search-container button:active{
        border: none;
        box-shadow: inset 4px 0px 10px rgba(50, 50, 50, 0.5);
    }
    
}

@media (min-width: 768.1px) and (max-width: 992px){

    .search-container {
        width:80%;
        height:100px;
        display: flex;
        
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    
        z-index: 10;
        border-radius: 50px;
        max-width: 600px;
        min-width: 50px;
        zoom: 0.8;
    }


    .search-container input {
        border: none;
        border-radius: 50px 0 0 50px;
    }

    .search-container button {
        background-color: var(--primary-color);
        border: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;;
        cursor: pointer;
        height: 100px;
    }
    
    .search-container button:hover{
        background-color:#d45f5f;
        border: none;
    }
    
    .search-container button:active{
        border: none;
        box-shadow: inset 4px 0px 10px rgba(50, 50, 50, 0.5);
    }
    
}

@media (max-width: 768px) and (min-width: 456.1px) {
    .search-container {
        width:80%;
        height: 100px;
        display: flex;
        
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    
        z-index: 10;
        border-radius: 50px;
        max-width: 600px;
        min-width: 50px;
        zoom: 0.7;
    }


    .search-container input {
        border: none;
        border-radius: 50px 0 0 50px;
    }

    .search-container button {
        background-color: var(--primary-color);
        border: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;;
        cursor: pointer;
        height: 100px;
    }
    
    .search-container button:hover{
        background-color:#d45f5f;
        border: none;
    }
    
    .search-container button:active{
        border: none;
        box-shadow: inset 4px 0px 10px rgba(50, 50, 50, 0.5);
    }
    
}

@media (max-width: 456px) {
    .search-container, .search-container input{
        display: none;
    }
}




/*Back to Top Button CSS */
.back-to-top {
    background-color: var(--primary-color); 
    border: none;
}

.back-to-top:hover {
    transform: scale(1.05);
    background-color: #d45f5f;
}

/* Product Item Cards CSS */
#productList .card {
    height: 100%; /* Make all cards the same height */
}


#productList .card-img-top {
    height: 250px; /* Fixed height for all card images */
    object-fit: cover; /* Ensures image covers the area without distortion */
}

#productList .card-text {
    flex-grow: 1; /* Push pricing and rating to bottom */
}

#productSearchInput {
    border-radius: 50px;
    font-size: 20px; 
} 



        /* Modals CSS */
        .quantity-control {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        
        .quantity-control button {
            background-color: var(--primary-color);
            color: white;
            border: none;
            padding: 5px 10px;
            margin: 0 10px;
        }
        
        .quantity-control input {
            width: 50px;
            text-align: center;
        }



        .order-btn, #confirmOrderBtn, #closeModalAfterConfirm, #trackOrder{
            background-color:#FF6B6B;
            border-color:#FF6B6B;
            border-radius: 50px;
        }

        .order-btn:hover, #confirmOrderBtn:hover, #closeModalAfterConfirm, #trackOrder{
            background-color:#d45f5f;
            border-color: #d45f5f;
            border: radius 50px;
        }

        .order-tracking {
        position: relative;
        padding: 20px 0;
        }


        .tracking-step {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            opacity: 0.5;
        }

        .tracking-step.active {
            opacity: 1;
        }

        .tracking-step::before {
            content: '';
            position: absolute;
            left: 30px;
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: #ddd;
            z-index: -1;
        }

        .tracking-step.active .step-icon {
            background-color: var(--primary-color);
            color: white;
        }


        .modal-footer button {
            background-color: #FF6B6B;
            border-color: #FF6B6B;
            color:white;
        }
        .modal-footer button:hover {
            background-color: #d45f5f;
        }


        .step-content {
            flex-grow: 1;
        }


/* Shadow Classes */
.dropshadow{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, .5));
    border-radius: 50px;
}
.dropshadow:hover{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, 0));
}
.dropshadow2{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, .5));
    border-radius: 30px;
}
.dropshadow2:hover{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, 0));
}
.dropshadow3{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, .5));
    border-radius: 20px;
}
.dropshadow3:hover{
    filter: drop-shadow(0px 0px 10px rgba(50, 50, 50, 0));
}





 

   